.marker_line{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
}
.line{
    position: relative;
    width: 3px;
    height: 0;
    border-radius: 6px;
    transition: height 0.4s ease-out;
}
.show_line{
    height: 100% !important;
}