.content_game_news>p{
    position: absolute;
    color: black;
}
.content_game_news>p:first-of-type{
    top: 40px;
    font-size: min(calc(100vw*0.04), 24px);
    font-weight: 600;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.content_game_news>p:nth-of-type(2){
    top: 45px;
    font-size: min(calc(100vw*0.15), 120px);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.game_news{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    top: 80px;
}
.game_news>a{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 370px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-style: italic;
    font-family: serif;
    font-weight: 600;
    text-align: center;
    margin: 40px 25px;
    background-position: top;
    background-size: 100% 60%;
    background-color: rgba(216, 216, 216, 0.7);
    background-repeat: no-repeat;
    transition: top 0.4s ease;
}
.game_news>a:first-of-type{
    background-image: url('../../../../public/image/league/News_Image_1.jpg');
}
.game_news>a:nth-of-type(2){
    background-image: url('../../../../public/image/league/News_Image_2.jpg');
}
.game_news>a>p{
    position: relative;
    top: 30%;
}
.game_news>a>span{
    position: absolute;
    display: block;
    width: 95%;
    height: 105%;
    border: 1px solid rgba(184, 184, 184, 0.9);
    clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 25px, 100% 100%, 0 100%);
}
.game_news>a>span::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    top: 6.6px;
    right: 6.6px;
    border-top: 1px solid rgba(184, 184, 184, 0.9);
    transform: rotate(45deg);
}
.game_news>a:hover{
    top: -20px;
}

@media screen and (max-width: 800px) {
    /* .content_game_news>p:first-of-type{
        font-size: 18px;
    }
    .content_game_news>p:nth-of-type(2){
        font-size: 80px;
    } */
}

@media screen and (max-width: 1000px) {
    .game_news{
        width: auto;
        display: block;
    }
}