.magic_keyboard_and_touch_id{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 70px;
}
.magic_keyboard{
    background-color: #fbfbfb;
    margin-top: 35px;
}
.magic_keyboard_front{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 520px;
    opacity: 1;
    transition: opacity 0.6s ease-out;
    background-color: #fbfbfb;
    overflow: hidden;

    &>img:first-of-type{
        position: absolute;
        left: 0;
        width: calc(520px * 1.34);
        height: 100%;
    }
    &>img:last-of-type{
        position: absolute;
        left: calc(520px * 1.34 + 10px);
    }
    &>span{
        position: absolute;
        left: calc(520px * 1.34 + 15px);
        translate: 0 50px;
    }
}
.magic_keyboard_back{
    position: absolute;
    top: 0;
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    padding: 35px;

    &>div{
        position: relative;
        width: 100%;
        height: 100%;
        bottom: 10px;
        opacity: 0;
        transition: opacity 0.6s ease-out, bottom 0.6s ease-out;

        &>p{
            display: block;
            width: 60%;
            font-size: 16px;
            font-weight: 400;
            color: rgb(133, 133, 133);
            &>strong{
                font-weight: 400;
                color: black;
            }
        }
    }
}

.touch_id_usages{
    position: relative;
    display: flex;
    margin-top: 70px;
    width: 100%;

    & img{
        position: relative;
        left: -3px;
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    & p{
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0 0 0;
    }

    &>div:first-of-type{
        margin-right: 140px;
    }
    &>div:last-of-type{
        &>p{
            display: block;
            width: 200px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .magic_keyboard_front{
        height: 420px;

        &>img:first-of-type{
            width: calc(420px * 1.34);
            left: -50px;
        }
        &>img:last-of-type{
            left: calc(420px * 1.34 - 40px);
        }
        &>span{
            left: calc(420px * 1.34 - 35px);
        }
    }
}

@media screen and (max-width: 735px) {
    .magic_keyboard_front{
        height: 320px;
        &>img:first-of-type{
            left: -270px;
            width: calc(320px 1.34px);
        }
        &>img:last-of-type{
            left: 300px;
        }
        &>span{
            left: 305px;
        }
    }
    .magic_keyboard_back{
        overflow-y: scroll;
        
        &>div{
            &>p{
                width: 100%;
            }
        }
    }
    .touch_id_usages{
        display: block;
        padding-bottom: 35px;

        &>div:last-of-type{
            margin-top: 70px;
        }
    }
}